.code-fragment {
    background-color: #222;
    color: #fff;
    // padding: 10px;
    border-radius: 0px 0px 5px 5px;
    font-family: var(--font-firaCode);
    font-size: small;
    margin-bottom: 20px;
;
  }

  .lang_style{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    font-family: var(--font-firaCode);
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn_copy{
    width: 100px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    justify-content: space-around;
    --balloon-font-color: var(--primary-color);
      --balloon-color: #e5ae22e5;
      --balloon-move: 20px;
      --balloon-font-size: 10px;
    &:hover{
      color: var(--yellowSoft-color);
    }
    & .icoCopy{
      width: 15px;
      height: 15px;
    }
  }
.icoCopied{
  color: var(--yellow-color);
  width: 15px;
  height: 15px;
}
.styleLanguage{
  color: #ffc942;
  font-size: 0.8rem;
  &:hover{
    color: #ffbc13;
    font-weight: 600;
  }
}