.home {
  
  // background-color: #f8f8f8;
  background-image: url(../../assets/images/fodoBody.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: var(--font-robotoFlex);
    font-size: 32px;
    margin-bottom: 40px;
    
  }
  p{
    font-family: var(--font-robotoFlex);
  }
  .home {
    position: relative;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
.sectionCaract{
  max-width: 80%;
  font-family: var(--font-robotoSerif);
  color: var(--yellow-color);
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid rgb(192, 191, 191);
  box-shadow: 1px 1px rgb(213, 213, 213);
}
.acordion{
  border-radius: 3px;
  background-color: #e2e2e24f;
}
.titleAcordion{
  color: var(--primary-color);
  font-family: var(--font-poppins);
}
  .section {
    margin-top: 40px;
    padding: 10px;

    h4 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #272626;
    }

    p {
      font-size: 16px;
      color: #272626;
      line-height: 1.5;
    }
  }
  .sectionUse{
display: flex;
flex-direction: column;
align-items: center;

& hr{
  align-self: center;
  width: 90%;
  border-bottom: none;
  border-top: 1px solid #f0f0f0c6;
}
  }
  @media (min-width: 1350px) {
    .sectionUse {
      width: 80%;
      margin: 0 auto; /* Centra el contenedor horizontalmente */
    }
  }
  .cardUse{
    display: flex;
    height: 200px;
    // width: 20%;
    background-color: var(--yellow-color);
    flex-direction: column;
  }

  .css-mhc70k-MuiGrid-root>.MuiGrid-item{
    display: flex;
    
    padding-left: 0px;
  }
  .hrDiv{
    width: 80%;
    border-bottom: none;
    border-top: 1px solid #dbdbdb;
  }
  .aspect_banner{
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .conteinerCardsUse{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    box-shadow: 2px 2px rgba(142, 142, 142, 0.373);
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-2.css-wqan3a-MuiGrid-root{
    max-width: 227px;
  }
  .titleUsecard{
    font-size: auto;
    color: white;
  }

  .sectionDescription{
    transform: translate(-0%, -0%); z-index: 2;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d0d0d0c2;
  }
  .comoFunciona_title{
    font-family: var(--font-robotoFlex);
    font-weight: 600;
    font-size: large;
    display: flex;
  }
  .sectioncomoFunciona{
    transform: translate(-0%, -0%); z-index: 2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px grey;
    // border-bottom: 1px solid #d0d0d075;
  }
  .titleUse{
    // color: rgb(222, 222, 222);
    color: var(--yellow-color);
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;
    margin: 0px;
    border-radius: 10px 10px 0px 0px
  }
  .iconTitle{
    font-family: var(--font-robotoFlex);
    color: white;
    height: 30px;
    width: 30px;
  }
  .descriptionUse{
    font-size: small;
    font-family: var(--font-robotoFlex);
    color: white;
  }
  .stepsList{
display: flex;

& li{
  height: 200px;

}
  }
  .form_contact {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: #272626;

    label {
      font-weight: bold;
      color: #272626;
    }
    & button{
    //   width: 100%;
    // display: flex;
    justify-content: center;
    margin-bottom: 5px;
      padding: 8px 8px;
      border: none;
      border-radius: 4px;
      background-color: var(--primary-color);
      color: white;
      font-size: 16px;
      cursor: pointer;
      min-width: 80px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: var(--yellow-color);
        color: var(--primary-color);
      }
    }
    .MuiGrid-item {
      margin-bottom: 20px;
    }
  }

  .sectionAbout {
      position: relative;
   
    
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .contentSection_about{
      display: flex;
      border-radius: 10px 100px / 120px;
      
    }
    .about-description {
      color: var(--yellow-color);
  padding: 40px;
  // padding-left: 20px;
  background:  linear-gradient(to right, rgb(36, 36, 36), #000000);
  height: 100%;
  border-radius: 30px 0px 0px 100px;
  box-shadow: 0px 3px 0px 0px rgb(201, 199, 199);
}

.about-image {
  display: block;
  max-height: auto;
  width: 100%;
  height: 100%;
  border-radius: 0px 120px 0px 0px;
  box-shadow: 0px 3px 0px 0px rgb(201, 199, 199);
}
  }
}
.section {
  padding-top: 100px; /* Ajusta el espaciado según tus necesidades */
  padding-bottom: 100px; /* Ajusta el espaciado según tus necesidades */
}
.sectionRecuros{
  display: flex;
  flex-direction:row;
  color: var(--yellow-color);
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px;
  min-height: 120px;
  border-radius: 10px;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  & a{
    color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    :hover{
      color: var(--yellowSoft-color);
    }
  }
  .paralaxDiv{
    // position: sticky;
    // top: 50;
    display: flex;
    flex-direction: row;
    width: 100%;
    // z-index: 100; 
  }
  & .css-a5rdam-MuiGrid-root{
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: center;
overflow: hidden;
  }
}

.css-a5rdam-MuiGrid-root>.MuiGrid-item{
  // height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.ico_tec{
  height: 50px;
  width: auto;
}
.fondodescription{
  overflow: hidden;
  background-size: unset;
    background-repeat: no-repeat;
 
}
// .parallax-container {
//   height: 500px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.parallaxTimon{
  background-size: unset;
  background-repeat: no-repeat;
  & div{
    background-size: auto;
  }
    }  

.parallax-heading {
  font-size: 32px;
  color: var(--primary-color);
  text-align: center;
  margin-top: 100px; /* ajusta el margen superior según sea necesario */
}