.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .container_all{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_title{
    // position: relative;
    display: flex;
    // flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    // font-family: var(--font-robotoSerif);
    // font-family: var(--font-robotoFlex);
    font-family: var(--font-poppins);
    color: rgb(82, 82, 82);
  }
  .thread_assistant{
    display: flex;
    font-family: var(--font--robotoFlex);
    font-size: 15px;
    align-items: baseline;
    color: rgb(82, 82, 82);
    align-items: center;
    width: 30%;
  }
  .ico-copy {
    // position: absolute; /* Posiciona el icono sobre el texto */
    right: 0; 
    opacity: 0; 
    transition: opacity 0.3s; 
    height: 12px;
    width: 12px;
    margin-left: 5px;
  }
  .thread_content:hover .ico-copy {
    opacity: 1;
    & button{
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 100px;
    }
  }
  .selectAnyStage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgba(106, 104, 104, 0.849);
  }
  // .ico-copy{
  //   margin-left: 10px;
  //   height: 10px;
  // }
  .thread_content{
    margin-left: 10px;
    font-family: var(--font-poppins);
    font-size: 10px;
    font-weight: 500;
    color: rgb(126, 124, 124);
    & span{
      display: flex;
      align-items: center;
    }

  }
  .chat-messages {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #cccccc4d;
    border-radius: 5px;
    margin: 5px;
&::-webkit-scrollbar{
  width: 8px;
  // height: 20px;
}
&::-webkit-scrollbar-track{
  background: #f1f1f1;
  box-shadow: inset 0 0 5px #c4c4c4; 
  
  // margin-top: 10px;
  // margin-bottom: 10px;
}
&::-webkit-scrollbar-thumb{
  background-color: var(--yellow-color);
  box-shadow: inset 0 0 5px #b1861a;
  border-right: none;
    border-left: none;
    border-radius: 4px;
    max-height: 6px;
}
// &::-webkit-scrollbar-button {
//   height: 30px;
// }
&::-webkit-scrollbar-thumb:hover {
  background-color: var(--yellowSoft-color);; /* Color del botón de la barra de desplazamiento al pasar el mouse sobre él */
}
  }
  
  .message {
    margin-bottom: 10px;
    flex-direction:column
  }
  
  .chat-input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 30px;
//borde o no?
    border: 1px solid rgba(204, 204, 204, 0.3019607843);
    border-radius: 5px;
    // align-items: center;
    justify-content: space-between;
  }
  
  .chat-input input {
    width: 80%;
    // flex: 1;
    font-family: var(--font-poppins);
    font-family: var(--font--robotoFlex);
    font-size: small;
    color: rgb(67, 66, 66);
    border-bottom-color: rgb(169, 166, 166);
    border-bottom-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    caret-color: var(--yellow-color);
    
    
    &:focus-visible{
      border-bottom-color:var(--yellow-color);
      outline: none;
      // outline-color: var(--yellow-color);
    }
  }
  
  .btn{
    margin-left: 10px;
    max-height: 50px;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: var(--yellow-color);
      color: var(--primary-color);
    }
    &:disabled{
      background-color: #4f4e4e;
      &:hover{
        color: #fff;
      }
    }
  }

  .user{
    height: 20px;
    width: 20px;
    background-image: url(../../assets/images/user.png);
    background-size: cover;
    margin-right: 10px;
  }
  .assistant{
    height: 20px;
    width: 20px;
    background-image: url(../../assets/images/solologo.png);
    background-size: cover;
    margin-right: 10px;
  }
  .msgUser{
    display: flex;
    // align-items: center;
    background-color: #e7e7e75f;
    // border: 1px solid #ffbc1126;
    justify-content: flex-start;
    width: 100%;
    font-family: var(--font--Serif);
    font-size: smaller;
    // color: var(--primary-color);
    color: rgba(44, 43, 43, 0.914);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 2px;
    // &:hover{
    //   border: 1px solid #ffbc114e;
    // }
  }
  .msgAssistant{
    display: flex;
    font-family: var(--font--robotoFlex);
    font-size: smaller;
    color: var(--primary-color);
  }
  .loaderDiv{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .loader{
    height: 60px;
    width: auto;
  }
  .clean_ico{
    height: 20px;
    width: 20px;
    color: #575757e9;
    &:hover{
      color: var(--yellow-color);
      // color:  var(--primary-color);
    }
  }
  .btn_clean{
      margin-right: 10px;
      --balloon-font-color: var(--primary-color);
      --balloon-color: #e5ae22d3;
      --balloon-move: 20px;
      --balloon-font-size: 10px;
  }

  .Add_image{
    width: 40px;
    height: 40px;
    --balloon-font-color: var(--primary-color);
      --balloon-color: #e5ae22d3;
      --balloon-move: 20px;
      --balloon-font-size: 10px;
      & svg{
        width: 20px;
    height: 20px;
      }
  }
  .Assisstant_copied{
    display: flex;
    align-items: center;
    transition: opacity 0.5s;
    &:hover{
      color: rgba(52, 172, 52, 0.842);
      & p{
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        animation: fadeOut 2s ease-in-out 1s forwards;
      }
    }
    & p{
      opacity: 0;
      
    }
  }
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  .Thread_copied{
    display: flex;
    align-items: center;
    transition: color 0.5s;
    &:hover{
      color: rgba(52, 172, 52, 0.842);
      & p{
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        animation: fadeOut 2s ease-in-out 1s forwards;
      }
  }
  & p{
    opacity: 0;
  }
  }
  .ico-copied{
    right: 0; 
    opacity: 1; 
    margin-left: 5px;
    transition: opacity 0.3s; 
    height: 13px;
    width: 13px;
    color: rgba(52, 172, 52, 0.842);
  }
  .thread_content:hover .ico-copied {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    & button{
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 100px;
    }
  }
  .thread_content{
    &:hover{
color: var(--yellow-color);
    }
  }
  .code-fragment {
    background-color: #222;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
  }
  .msgAssistantCode{
    display: flex;
    flex-direction: row;
  }
  .msgWithCode{
    font-family: var(--font--robotoFlex);
    font-size: smaller;
    color: var(--primary-color);
    // font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 100%;
   
  }
  .messageText{
    width: fit-content;
  }
  .code_Text{
    display: flex;
    width: 100%;
  }
  .sendImage{
    min-width: 25px;
    min-height: 25px;
    margin-right: 10px;
    color: #a6a6a6;
    &:hover{
      color: var(--yellow-color);
    }
  }
    
    .images_added{
      display: block;
      width: 50px;
      height: 50px;
      margin-left: 20px;
      transition: filter 0.3s ease;
    }
    .images_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }
  .div_images{
    display: flex;
    padding: 5px;
  }
  .imageWrapper {
    position: relative;
  }
  .deleteImageButton{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: larger;
    font-weight: 600;
    // padding: 5px;
    width: 50px;
    height: 50px;
    // color: var(--yellow-color);
    color: var(--primary-color);
    // background-color: rgba(255, 255, 255, 0.293);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    visibility: hidden;
  }
  .imageWrapper:hover .deleteImageButton {
    visibility: visible;
  }
  
  .imageWrapper:hover .images_added {
    filter: blur(2px);
  }
  .stage{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(34, 34, 34);
    color: #f1f1f1;
    display: flex;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .Name_Stage{
    color: var(--yellowSoft-color);
    font-weight: 600;
    // background-color: #b1861a96;
  }
  .text_area{
    width: 80%;
    overflow: hidden; 
    min-height: 40px;
    padding: 10px;
    font-family: var(--font-poppins);
    font-family: var(--font--robotoFlex);
    font-size: small;
    color: rgb(67, 66, 66);
    border-bottom-color: rgb(169, 166, 166);
    border-bottom-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    caret-color: var(--yellow-color);
    & .Mui-focused fieldset {
      color: #c0c1c2;
      border-top: 'none';
      border-right: 'none';
       border-left: 'none';
    }
    & .MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMultiline.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input{
      color: #707070;
      font-weight: 400;
    }
    
    &:focus-visible{
      border-bottom-color:var(--yellow-color);
      outline: none;
      // outline-color: var(--yellow-color);
    }
    
  }
