.dashboard {
    padding: 10px;
    height: 100%;
    @media (max-width: 500px) {
      padding: 5px;
      height: auto;
    }
    h2 {
      font-family: var(--font-robotoSerif);
      // --font-poppins: "Poppins", sans-serif;
    // --font-robotoFlex: "Roboto Flex", sans-serif;
    // --font-robotoSerif: "Roboto Serif", serif;
      color: #2e291dcd;
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;
    }
   .icono_btn{
    display: flex;
    height: 20px;
    width: 20px;
   }
   
    .btn {
      --balloon-font-color: var(--primary-color);
      --balloon-color: #e5ae22d3;
      --balloon-move: 20px;
      --balloon-font-size: 10px;
      margin-bottom: 5px;
      padding: 8px 8px;
      border: none;
      border-radius: 4px;
      background-color: var(--primary-color);
      color: white;
      font-size: 16px;
      cursor: pointer;
      min-width: 80px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: var(--yellow-color);
        color: var(--primary-color);
      }
    }
    .sinProyecto{
      margin-top: 50px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btnEdithDel{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .dashboard-table {
      font-family: var(--font-robotoFlex);
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        border: 1px solid #ddd;
        padding: 4px;
        @media (max-width: 500px) {
          padding: 2px;
        }
      }
  
      th {
        background-color: var(--primary-color);
        color: white;
        text-align: center;
      }
  
      td {
        text-align: center;
        .link{
            text-decoration: none;
            font-size: medium;
            &:hover {
                text-decoration: none;
                color: var(--yellow-color);
            }
        }
      }
  
      tr:hover {
        background-color: #f2f2f2;
      }
  
      a {
        color: var(--primary-color);
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .actions {
        display: flex;
        justify-content: center;
  
        button {
          margin-right: 5px;
        }
      }
    }
  }
  .btns_p{
    width: 30%;
  }
  .swal2-input{
    width: 80%;
    &:focus{
      border: 1px solid #f6bf3780;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px #febb1380;
    }
    &:hover {
      border-color: #f6bf3780;
      color: var(--primary-color);
    }
  }
  .swal2-confirm.swal2-styled{
    background-color: var(--primary-color);
    min-width: 150px;
    &:hover {
      border-color: #f6bf3780;
      background-color: var(--yellow-color);
      color: var(--primary-color);
    }
  }
  .backArrow{
    width: 20px;height: 20px;
    color: var(--primary-color);
    &:hover{
      color: var(--yellow-color);
    }
  }
  .swal2-textarea {
    width: 80%;
    border: 1px solid rgb(212, 209, 209);
    padding: 10px;
    font-size: 16px; 
    resize: vertical;
    &:focus{
      border: 1px solid #f6bf3780;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px #febb1380;
    }
    &:hover {
      border-color: #f6bf3780;
      color: var(--primary-color);
    }
  }
  .swal2-popup.swal2-modal.swal2-icon-error.swal2-show{
    background-color: var(--bg-color);
  }
  .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show{
    background-color: var(--bg-color);
  }
  .swal2-confirm.swal2-styled{
    &:focus{
    box-shadow: none
  }
  }
  .swal2-confirm.swal2-styled.swal2-default-outline{
      &:hover {
        background-color: var(--yellow-color);
        color: var(--primary-color);
      }
  }
  .ok{
    width: 30px;
  }
  .swal2-icon.swal2-warning.swal2-icon-show{
    color: var(--yellow-color);
    border-color:var(--yellow-color);
  }
  .dashboard .dashboard-table th, .dashboard .dashboard-table td {
    max-width: 300px;
  }
  .description_column{
    width: 40%;
  }