.project_container_edit {
  display: flex;
  flex-direction: row;
  font-family: var(--font-robotoSerif);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  // border: 1px solid #ccc;
  border-radius: 5px;
}
.cards_edit{
  width: 100%;
  min-width: 250px;
  font-family: var(--font-robotoFlex);
  & h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(56, 55, 55);;
  }
}
.stage_divider_edit {
  border-top: 1px solid #ccc;
}
.titleProjectEdit{
  height: 60px;
  display: flex;
  justify-content: space-around;
  // justify-content: space-between;
  align-items: center;
}
.section_tit_edit{
  display: flex;
  margin-bottom: 5px;
  color: rgb(74, 73, 73);
  font-family: var(--font-robotoFlex); 
  font-weight: 500;
}
.name_p_e{
  margin-left: 10px;
  font-family: var(--font-robotoSerif);
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 800;
}
.edit_project_button{
  width: 90px;
  height: 40px;
  padding: 2px 2px 2px 2px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 12px;
  display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  cursor: pointer;
  &:hover {
    background-color: var(--yellow-color);
    color: var(--primary-color);
  }
}
// .btn_ico_edit{}
.title_description_edit{
  display: flex;
  align-items: center;
  color: rgb(74, 73, 73);
  font-family: var(--font-robotoFlex); 
  font-weight: 500;
  align-items: baseline;
}
.stages-title_edit{
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.div_btn_edit{
  margin-top: 10px;
display: flex;
align-items: start;
justify-content: start;
}
.create_stage_button {
  width: 90px;
  height: 40px;
  padding: 2px 2px 2px 2px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--yellow-color);
    color: var(--primary-color);
  }
}
.stage_container_edit {
  display: grid;
    min-height: 250px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
.stage_card_edit{
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &:hover{
    background-color: #f6bf3780;
    & hr{
      border-top: 1px solid #8a8a8a;
      border-bottom: none;
    }
    // background-color: rgb(210, 208, 208);
  }
}
.delete_edit{
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  }
.edit-button{
    font-size: 20px;
    color: rgb(137, 136, 136);
  &:hover{
    font-size: 25px;
    color: var(--primary-color);
  }
  }
  .edit-delete{
    height: 30px;
    // width: 30px;
  }
  .card_container_edit{
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
/////////////////////////////////////////////////////////////////////////
/// 
.lista_colab{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.collaborators_container{
  display: flex;
  flex-direction: column;
  & h5{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.colab_card{
  height: 80px;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & h6{
    color: rgb(74, 73, 73);;
  }
  & div{
    font-family: var(--font-robotoSerif);
    color: rgb(74, 73, 73);
  }
}
.colab_card_null{
  color: #8a8a8a;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// form
.add-stage {
  margin-top: 20px;
}
.add-stage input {
  margin-right: 10px;
}

.btn_ico{
 height: 20px;
 width: 20px;
}
.add-stage button:hover {
  background-color: #0056b3;
}

.delete-button{
  font-size: 20px;
  color: rgb(137, 136, 136);
  &:hover{
    font-size: 25px;
    color: var(--primary-color);
  }
}

.swal2-icon.swal2-warning.swal2-icon-show{
  color: var(--yellow-color);
  border-color:var(--yellow-color);
}
.swal2-popup.swal2-modal.swal2-icon-warning.swal2-show{
color: var(--primary-color);
}
.swal2-confirm.swal2-styled.swal2-default-outline{
    background-color:  rgb(130, 11, 11);
  &:hover{
    color: #f9f9f9;
  }
}


.description{
  margin-left: 10px;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 10px;
}
.assId{
  margin-top: 5px;
}
.connection-stage{
width: 75%;
}
///////////
/// 
.swal2-input{
  width: 80%;
  &:focus{
    border: 1px solid #f6bf3780;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px #febb1380;
  }
  &:hover {
    border-color: #f6bf3780;
    color: var(--primary-color);
  }
}
.swal2-confirm.swal2-styled{
  background-color: var(--primary-color);
  min-width: 150px;
  &:hover {
    border-color: #f6bf3780;
    background-color: var(--yellow-color);
    color: var(--primary-color);
  }
}
.swal2-textarea {
  width: 80%;
  border: 1px solid rgb(212, 209, 209);
  padding: 10px;
  font-size: 16px; 
  resize: vertical;
  // &:active{
  //   border: 3px solid var(--yellow-color);
  // }
  &:focus{
    border: 1px solid #f6bf3780;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px #febb1380;
  }
  &:hover {
    border-color: #f6bf3780;
    color: var(--primary-color);
  }
}
.swal2-popup.swal2-modal.swal2-icon-error.swal2-show{
  background-color: var(--bg-color);
}
.swal2-popup.swal2-modal.swal2-icon-warning.swal2-show{
  background-color: var(--bg-color);
}
.swal2-confirm.swal2-styled{
  &:focus{
  box-shadow: none
}
}
.swal2-confirm.swal2-styled.swal2-default-outline{
    &:hover {
      background-color: var(--yellow-color);
      color: var(--primary-color);
    }
}
.ok{
  width: 30px;
}
.swal2-icon.swal2-warning.swal2-icon-show{
  color: var(--yellow-color);
  border-color:var(--yellow-color);
}


