@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,400;1,500&display=swap');

:root{
    // fonts
    --font-poppins: "Poppins", sans-serif;

    //colors
    --primary-color: #0f0c06;
    --secundary-color: #076461;
    --secundarySoft-color: #11AA9E;

    --yellowSoft-color: #ffbc11;
    --yellow-color: #e5ae22;
    --bg-color: #f0f0f0;

    
    // --secundary-color: #084f4d;
    // --primarysoft-color: #37bcb1;
    // --accent-color: #f0f0f0;
    
}